* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
  
.header {
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  text-align: center;
}
.header img{
  width: 19em; 
  height: 9em;
}
  
.topnav {
  width: 100%;
  overflow: auto;
  background-color:rgb(227, 227, 235);
  font-family: 'Gupter', serif;
  border: solid 5px rgb(227, 227, 235);
}
.topnav a.active {
  background-color: #aaaaaa;
  border-radius: 8px;
  border-color: black 5px;

}
.topnav a:hover:not(.active) {
  background-color: #aaaaaa;
  border-radius: 8px;
  border-color: black 5px;

}
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  font-size: 1.1em;
  padding: 0.8em 0.9em;
  text-decoration: none;
  background-color: rgb(227, 227, 235);
}

.topnav a:hover {
  background-color: #aaaaaa;
  border-radius: 8px;
}
@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
  }
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

a.ln:link, a.ln:visited {
  background-color: rgb(226, 226, 228);
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  float: right;
  border-radius: 5px;
  font-family: 'Gupter', serif;
  border: 2px solid rgb(233, 231, 231);
}
  
a.ln:hover, a.ln:active {
  background-color: #aaaaaa;
  color: rgb(0, 0, 0); 
  border: 2px solid  #acaecc;
}
.image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 70%;
  -webkit-box-shadow: 0px 0px 9px 9px rgba(178,177,184,0.86);
  -moz-box-shadow: 0px 0px 9px 9px rgba(178,177,184,0.86);
  box-shadow: 0px 0px 9px 9px rgba(178,177,184,0.86);
}